################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitConsumerForNotification/obj/Debug/net7.0
/SignalRPractice/obj/Debug/net7.0
/SignalRPractice/obj
/RabbitConsumerForNotification/obj
/.vs/SignalRPracticeWithRedisAndRabbitMq/FileContentIndex
/.vs/SignalRPracticeWithRedisAndRabbitMq
/.vs/ProjectEvaluation
/ClientApplication/node_modules
/ClientApplication/.vscode
/ClientApplication/package-lock.json
/RabbitConsumerForNotification/bin/Debug/net7.0/runtimes/win/lib/net7.0
/RabbitConsumerForNotification/bin/Debug/net7.0
/SignalRPractice/bin/Debug/net7.0
