<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hostName" value="localhost"/>
		<add key="customport" value=""/>
		<add key="userName" value="srijonchak"/>
		<add key="password" value="123456"/>
		<add key="virtualHost" value="rabbitmqSignalR"/>
		<add key="routingKey" value="dataOne"/>
		<add key="queueName" value="myQueue"/>
		<add key="exchangeName" value="desktopApp1"/>
		<add key="WebSpecificTaskPubKey" value="WebSpecificTaskPubKey"/>
		<add key="WebSpecificTaskPubQueue" value="WebSpecificTaskPubQueue"/>
		<add key="WebSpecificTaskPubExchange" value="WebSpecificTaskPubExchange"/>
		<add key="WebSpecificTaskSubKey" value="WebSpecificTaskSubKey"/>
		<add key="WebSpecificTaskSubQueue" value="WebSpecificTaskSubQueue"/>
		<add key="WebSpecificTaskSubExchange" value="WebSpecificTaskSubExchange"/>
		
	</appSettings>
</configuration>